<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RedCatCode :: {{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'style.css' | absolute_url }}" />
  </head>
  <body>

    <header>
      <a href="/" class="logo">
        RedCatCode
        <span>Coder, etc.</span>
      </a>
      <nav role="main">
        {% for page in site.pages | sort "position" %}
          {% if page.title != 'Home' %}
            <a href="{{page.url}}">{{page.title}}</a>
          {% endif %}
        {% endfor %}
      </nav>
      <ul class="social">
          <li><a href="mailto:mario@redcatcode.com">E</a></li>
          <li><a href="https://twitter.com/redcatcode" target="_blank">T</a></li>
          <li><a href="https://github.com/ewiggin" target="_blank">G</a></li>
      </ul>
    </header>
