<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <base href="https://ewiggin.github.io/redcatcode-website/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RedCatCode :: {{ page.title }}</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <header>
      <a href="/" class="logo">
        RedCatCode
        <span>Coders, etc.</span>
      </a>
      <nav role="main">
        {% for page in site.pages %}
            <a href="{{page.url  | relative_url }}">{{page.title}}</a>
        {% endfor %}
      </nav>
      <ul class="social">
          <li><a href="mailto:mario@redcatcode.com">Email</li>
          <li><a href="http://twitter.com/frank_chimero">Twitter</a></li>
      </ul>
    </header>
