{% include header.html %}

    <style type="text/css">
      body {
        background-image: url("{{ page.image }}");
        background-size: cover;
        background-repeat: no-repeat;
      }

      body h1 {
        unicode-bidi: bidi-override;
        direction: rtl;
        font-size: 130px;
        text-align: center;
        font-family: "Helvetica";
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
      }
    </style>

    <article>
      {{ content }}
    </article>
{% include footer.html %}
